#home-page .media-section {
  background-color: #f4f4f4;
  padding: 30px 134px 0 134px;
  max-height: 92vh;
  overflow-y: auto;
}
#home-page .container {
  padding: 0;
}
#home-page .panel-heading {
  background-color: #FFFFFF;
  height: 8%;
  padding: 0px 40px 0px 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
#home-page .panel-heading .header-title {
  font-size: 32px;
  padding-left: 10px;
}
#home-page .panel-footer {
  height: 14%;
  background-color: black;
}
#home-page .search {
  float: right;
  padding-top: 10px;
}
#home-page .media-story1 {
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  padding-left: 0;
}
#home-page .media-story1 .story-image {
  padding-right: 20px;
}
#home-page .media-story1 .story-image img {
  height: 400px;
  width: 100%;
}
#home-page .media-story1 .story-content {
  padding: 33px 33px 0 0;
}
#home-page .media-story1 .author-details {
  padding-top: 40px;
}
#home-page .media-story1 span.section-name {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: left;
  color: #000000;
  width: 73px;
  height: 3px;
  border-bottom: solid 3px #edd30d;
}
#home-page .media-story1 p.section-content {
  font-family: Lato;
  font-size: 34px;
  line-height: 1.24;
  text-align: left;
  color: #222222;
  margin: 14px;
  margin-left: 0;
}
#home-page .media-story1 p.section-desc {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #5c5c5c;
}
#home-page .media-story1 .author-details .story-date {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #3d3d3d;
}
#home-page .media-story1 .author-details img {
  width: 12%;
  height: auto;
  padding-right: 10px;
  float: left;
}
#home-page .layout2 {
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 0;
}
#home-page .layout2 .newsletter {
  background-color: #2f73e4;
}
#home-page .layout2 .newsletter .subscribe {
  font-family: Lato;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
}
#home-page .layout2 .newsletter .message {
  padding-left: 140px;
  padding-top: 23px;
  object-fit: contain;
}
#home-page .layout2 .newsletter .subscribe-button {
  margin-left: 50px;
  padding-bottom: 10px;
}
#home-page .layout2 .newsletter .subscribe-button button {
  width: 124px;
  height: 37px;
  border-radius: 100px;
  border: solid 1.5px #ffffff;
  background: transparent;
  padding-top: 5px;
  color: #ffffff;
}
#home-page .layout2 .story-content {
  padding: 10px 15px 0px 20px;
}
#home-page .layout2 .story-image {
  padding-bottom: 10px;
  padding: 0;
}
#home-page .layout2 .story-image img {
  width: 100%;
  height: auto;
  max-height: 470px;
}
#home-page .layout2 .section-name {
  border-bottom: solid 3px #f26c60;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-align: left;
  color: #000000;
}
#home-page .layout2 .section-content {
  font-family: Lato;
  font-size: 24px;
  line-height: 1.33;
  text-align: left;
  color: #222222;
  padding-top: 10px;
}
#home-page .layout2 .section-desc {
  font-family: Lora;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #5c5c5c;
}
#home-page .author-details .author-name {
  font-family: Lato;
  font-size: 18px;
  text-align: left;
  color: #818181;
}
.layout3 {
  margin-top: 30px;
  padding: 0;
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.layout3 .section-name {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-align: left;
  color: #000000;
}
.layout3 .section-1 {
  border-bottom: solid 3px #60bcf2;
}
.layout3 .section-2 {
  border-bottom: solid 3px #f260a4;
}
.layout3 .section-3 {
  border-bottom: solid 3px #edd30d;
}
.layout3 .container {
  border-bottom: solid 1px #d8d8d8;
}
.layout3 .story-content {
  padding-top: 23px;
}
.layout3 .section-content {
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.45;
  text-align: left;
  color: #222222;
  padding-top: 10px;
}
.layout3 .author-name {
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #818181;
  padding-top: 20px;
}
.layout4 .carousel-header {
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
}
.layout4 .carousel-headline {
  font-family: Lato;
  font-size: 38px;
  line-height: 1.32;
  text-align: center;
  color: #ffffff;
}
.layout4 .carousel-button {
  margin-left: 50px;
  padding-bottom: 10px;
}
.layout4 .carousel-button button {
  width: 124px;
  height: 37px;
  border-radius: 100px;
  border: solid 1.5px #ffffff;
  background: transparent;
  padding-top: 5px;
  color: #ffffff;
}
.layout4 .carousel-inner .item img {
  width: 100%;
  margin: auto;
  min-height: 200px;
  height: 360px !important;
}
.layout4 .carousel-inner .carousel-control {
  top: 43% !important;
}
#header-politics {
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  border-bottom: solid 4px #6093f2;
  padding-top: 7px;
  width: 105px;
}
#header-food-health {
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  border-bottom: solid 4px #f260a4;
  padding-top: 7px;
  width: 220px;
}
.layout5 {
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0 !important;
  max-height: 530px;
  margin-top: 30px;
}
.layout5 .story-image {
  padding: 0;
}
.layout5 .story-image img {
  height: 100%;
}
.layout5 .story-content {
  left: 10% !important;
}
.layout5 .section-content {
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: #ffffff;
  left: 10% !important;
}
.layout5 .author-name {
  font-family: Lato;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}
.layout6 {
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0 !important;
  margin-top: 30px;
}
.layout6 .section-content {
  font-family: Lato;
  font-size: 22px;
  line-height: 1.36;
  text-align: left;
  color: #222222;
}
.layout6 .author-name {
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #818181;
  padding-top: 20px;
}
.media-story2 {
  margin-bottom: 30px;
}
.politics.layout3 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.politics.layout3 .section-content {
  padding-top: 0 !important;
}
.politics.layout3 .story-content {
  padding-top: 5px!important;
}
.politics.layout2 {
  margin-left: 30px;
  margin-right: 0px;
  background-color: #f4f4f4 !important;
}
.politics.layout2 .container {
  background-color: #ffffff!important;
}
.politics.layout2 .subsection {
  margin-top: 20px;
}

.politics.layout2.sub-section {
  margin-top: 10px !important;
}
body {
  margin: 0;
  overflow: hidden;
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .media-section {
    padding: 30px 0px 0 0px !important;
  }
  .subscribe-layout {
    display: none;
  }
  .media-story1 .author-details img {
    height: 13%;
  }
  .layout3 {
    margin-right: 0 !important;
  }
  #home-page .panel-heading {
    height: auto;
  }
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .media-section {
    padding: 30px 0px 0 0px !important;
  }
  .media-section {
    background-color: #f4f4f4 !important;
    padding: 30px 0px 0 0px !important;
  }
  .story-content {
    padding: 0 !important;
    padding-left: 35px !important;
  }
  .layout3 {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .layout3 .story-content {
    padding-left: 20 !important;
  }
  .layout2 {
    margin-bottom: 30px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .layout6 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .subscribe-layout .story-image {
    display: none;
  }
}
