<div class="media-story1 row">
    {{#each stories}} {{#if @first }}
    <div class="container col-md-12 col-sm-12 col-xs-12">
        <div class="story-image col-md-6 col-sm-6 col-xs-12">
            <img class="img-responsive" src="http://quintype-01.imgix.net/{{this.hero-image-s3-key}}">
        </div>
        <div class="story-content col-md-6 col-sm-6 col-xs-12">
            <span class="section-name ">
         {{#each this.sections}}
            {{upperCase this.name}}
          {{/each}}
          </span>
            <p class="section-content ">
                {{this.headline }}
            </p>
            <p class="section-desc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
            <div class="author-details ">
                <img src="/images/user.jpg " />
                <p class="author-name ">
                    {{this.author-name}}
                </p>
                <p class="story-date ">Posted {{dateFormatting this.last-published-at}}</p>
            </div>
        </div>
    </div>
    {{/if}} {{/each}}
</div>