<section id="header-food-health">Recent Stories</section>
 {{#each stories}}
<div class="layout6 row col-md-12 col-sm-12 col-xs-12">
     <div class="container col-md-12 col-sm-12 col-xs-12">
        <div class="story-image col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="http://quintype-01.imgix.net/{{this.hero-image-s3-key}}"></div>
        <div class="story-content col-md-6 col-sm-6 col-xs-12">
            <p class="section-content">{{this.headline }}</p>
            <div class="author-details">
                <p class="author-name">{{this.author-name}}</p>
            </div>
           
        </div>
    </div>
    </div>
{{/each}}

